<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="agencyRepository" class="com.erenuygur.repository.AgencyRepository">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="agencyService" class="com.erenuygur.service.AgencyService">
        <property name="agencyRepository" ref="agencyRepository"/>
    </bean>

    <bean id="policyRepository" class="com.erenuygur.repository.PolicyRepository">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="policyService" class="com.erenuygur.service.PolicyService">
        <property name="policyRepository" ref="policyRepository"/>
    </bean>

    <bean id="customerPolicyRepository" class="com.erenuygur.repository.CustomerPolicyRepository">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="customerPolicyService" class="com.erenuygur.service.CustomerPolicyService">
        <property name="customerPolicyRepository" ref="customerPolicyRepository"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <constructor-arg name="url" value="jdbc:postgresql://localhost:5432/insurance"/>
        <constructor-arg name="username" value="postgres"/>
        <constructor-arg name="password" value="1234"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <array>
                <value>com.erenuygur.model</value>
            </array>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgresPlusDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

</beans>